
body{
    background-color: rgb(71, 165, 42);
}
#first{
    color:blue;
    background-color: aquamarine;
}
.red{
        background-color:red;
        color:whitesmoke;
}
#manish{
    background:blue;
}